# npm默认官网镜像源
registry=https://registry.npmjs.org/
# ocloud组织默认私有镜像源
@ocloud:registry=https://packages.aliyun.com/5efc25452c41c1ea2703b27c/npm/npm-registry/
# 阿里云效私有镜像源token
//packages.aliyun.com/5efc25452c41c1ea2703b27c/npm/npm-registry/:_authToken=4b898153-b588-4f71-8cfd-91dcfb1e75f6
# 自动安装peerDependencies依赖
auto-install-peers=true
# 关闭npm发布分支检测
git-checks=false
# 绕过peerDependencies自动安装
legacy-peer-deps=true
# release分支才能发布
publish-branch=release
# 默认安装依赖为主要版本
save-prefix="^"
